body {
	background-image: url("TSS.gif");
	background-repeat: no-repeat;
        background-position: 750px 50px;
	border-collapse: separate;
	border-color: teal;
	border-style: ridge;
	border-width: medium;
	bottom: 3%;
	color: teal;
	cursor: default;
	font-family: Arial, Helvetica, sans-serif;
	font-stretch: unchanged;
	font-style: normal;
	font-variant: normal;
	font-weight: bolder;
	left: 3%;
	margin: 3%;
	outline-color: teal;
	outline-style: outset;
	padding: 3%;
	right: 3%;
	top: 3%;
	vertical-align: top;
}
a:link {
	color: gray;
}
a:visited {
	color: silver;
}
a:hover {
	padding: 3px;
	font-weight:bold;
	color: black;
	background-color:gray;
	cursor: pointer;
}
